.translate-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.translate-page-container textarea {
  resize: none;
}

.translate-page-toolbar {
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}