@import '~antd/dist/antd.css';
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.fade-appear,
.fade-enter {
  opacity: 0;
}

.fade-appear-active,
.fade-enter-active {
  transition: opacity .25s linear;
  opacity: 1;
}

.fade-exit {
  transition: opacity .25s linear;
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
}

.route-main {
  position: relative;
}

.route-main-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5px 0 18px 0;
}